name: Setup base env

on:
  workflow_call:
    inputs:
      run_script:
        required: false
        type: string

jobs:
  setup:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: |
            - recursive: true
              args: []
            - args: [--global, '@antfu/ni']

      - name: Run script from inputs
        if: ${{ inputs.run_script != null }}
        run: ${{ inputs.run_script }}
