name: Update Dependencies

on:
  workflow_call:
    inputs:
      tools:
        description: Use either `ncu` or `taze` to update.
        type: string
        required: false
        default: ncu
      email:
        description: The `user.email` set to git.
        type: string
        required: false
      commit_msg:
        type: string
        required: false
        default: 'chore: update dependencies.'
      args:
        type: string
        required: false
        default: ''
      mode:
        type: string # commit | pr
        required: false
        default: commit

jobs:
  update_deps:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: lvjiaxuan/github-action-templates/.github/actions/pnpm-ni-action@main

      - name: Miss email ?
        if: ${{ !inputs.email && !vars.ACTOR_EMAIL }}
        run: |
          echo "::error::Miss both email input and ACTOR_EMAIL variable"
          stopMarker=$(uuidgen)
          echo "::stop-commands::$stopMarker"
          echo "_wont print_"

      - name: Detect Updates by ${{ inputs.tools }}
        id: detect-updates
        run: |
          npx ${{ inputs.tools == 'ncu' && 'npm-check-updates -u' || 'taze major -w -r --install=false' }} ${{ inputs.args }}
          if [[ `git status --porcelain` ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: No updates for now
        if: ${{ steps.detect-updates.outputs.changed == 'false' }}
        run: |
          echo "::notice::No Updates for now. Skip this time."
          exit 0

      - name: Setup git config
        if: ${{ steps.detect-updates.outputs.changed == 'true' }}
        run: |
          git config user.name ${{ github.actor }}
          git config user.email ${{ inputs.email || vars.ACTOR_EMAIL }}

      - name: Install detected agent by @antfu/ni
        if: ${{ steps.detect-updates.outputs.changed == 'true' }}
        run: |
          git stash
          npm i @antfu/ni -g
          nci
          git stash pop

      - name: Update only lock file, and ${{ inputs.mode }}
        if: ${{ steps.detect-updates.outputs.changed == 'true' }}
        run: |
          ni --lockfile-only
          currentBranch=$(git rev-parse --abbrev-ref HEAD)
          updatesBranch=update-deps/$(uuidgen)
          git checkout -b $updatesBranch
          git add .
          git commit -m "${{ inputs.commit_msg }}" --no-verify
          if [ "${{ inputs.mode }}" = "commit" ]; then
            git switch $currentBranch
            git merge $updatesBranch
            git push
          elif [ "${{ inputs.mode }}" = "pr" ]; then
            git push -u origin $updatesBranch
            gh pr create --base $currentBranch --head $updatesBranch --fill
          else
            echo "::error::Unknown mode: ${{ inputs.mode }}"
            stopMarker=$(uuidgen)
            echo "::stop-commands::$stopMarker"
          fi
          echo "::notice::Updates have been detected, the lock file was then updated, followed by git add/commit/push"

